* {
    border: 0;
    margin: 0;
    padding: 0;
}

.container {
    font-family: jakob, sans-serif;
    font-weight: 700;
    background-image: url(img/background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    color: #3B3B3B;
}

.content-box {
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%;
    padding: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.fortune, .fortune-number {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 260px;
    height: 260px;
}

.box {
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
}

p {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* Color Boxes */

#colorBox1 {
    background-color: #BBE2F2;
}

#colorBox2 {
    background-color: #BBF2E2;
}

#colorBox3 {
    background-color: #D7CAEF;
}

#colorBox4 {
    background-color: #F2D7D0;
}

/* Number Boxes */

.boxNumber {
    background-size: cover;
}

#numberBox1 {
    background-image: url(img/blue-half.png);
    border-right: 1px solid #D8D5D5;
    border-bottom: 1px solid #D8D5D5;
}

#numberBox2 {
    background-image: url(img/green-half.png);
    border-bottom: 1px solid #D8D5D5;
    border-left: 1px solid #D8D5D5;
}

#numberBox3 {
    background-image: url(img/purple-half.png);
    border-top: 1px solid #D8D5D5;
    border-right: 1px solid #D8D5D5;
}

#numberBox4 {
    background-image: url(img/pink-half.png);
    border-left: 1px solid #D8D5D5;
    border-top: 1px solid #D8D5D5;
}

.numbers {
    position: relative;
    width: 100%;
    height: 100%;
}

.numbers p {
    position: absolute;
}

.number-left-top p {
    bottom: 15%;
    left: 60%;
}

.number-right-top p {
    bottom: 15%;
    right: 60%;
}

.number-right-bottom p {
    top: 15%;
    right: 60%;
}

.number-left-bottom p {
    top: 15%;
    left: 60%;
}

.hide {
    display: none;
}

@media (min-width: 500px) {
    .fortune {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 768px) {
    .content-box {
        width: 70%;
    }

    h1 {
        font-size: 4rem;
    }

    .fortune {
        width: 500px;
        height: 500px;
    }

    p {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .content-box {
        width: 60%;
        padding: 2%;
    }

    .fortune {
        width: 600px;
        height: 600px;
    }
}

@media (min-width: 1024px) {
    .content-box {
        max-width: 880px;
    }
}